########################
# node.js / npm
########################
node_modules


########################
# misc / editors
########################
*~
*#
**/.DS_STORE/**
**/tmp/**
**TODO.md**

########################
# docs / tests
########################
**/test/suites/localTest.js
**/test/*.file
**/test/credentials.txt
report.xml
**error.log
**geolite**
test.log
testLogs**

## Settings
**/.idea/**
.jenkins.conf
.vscode/settings.json
installers/**

########################
# local config
########################
config/env/**
config/privateKeys/**
config/ssl/**

